@model DoctorDiaryAPI.Models.PatientViewModel

@using DoctorDiaryAPI.Models;
@{
    ViewBag.Title = "Details";
}

@{ var homeUrl = "/Home/Index";

    if (Session["UserID"] != null)
    {
        homeUrl = "/Patient/Details";
    }
    else
    {
        homeUrl = "/Home/Index";
    } }


<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@homeUrl">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Profile</h2>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">

                <!-- Profile Widget -->
                <div class="card widget-profile pat-widget-profile">
                    <div class="card-body">
                        <div class="pro-widget-content">
                            <div class="profile-info-widget">
                                <div class="doctor-img" style="width: 100%;">
                                    @{
                                        var photoText = new PhotoPathTextService().IsAvailable(Model.Patient_photo, Model.Patient_name);

                                        if (photoText.Length > 2)
                                        {
                                            <img src="@Model.Patient_photo.ToString().Replace("~",string.Empty)" class="img-fluid" alt="User Image">
                                        }
                                        else
                                        {
                                            <span class="avatar-title rounded border border-white" style="font-size: 5rem;">@photoText</span>
                                        }
                                    }
                                </div>
                                <div class="profile-det-info">
                                    <h3>@Model.Patient_name</h3>

                                    <div class="patient-details">
                                        <h5><b>Patient ID :</b> @Model.Patient_Id</h5>
                                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> @Model.Patient_city, @Model.Patient_Country</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="patient-info">
                            <ul>
                                <li>Phone <span>@Model.Patient_contact</span></li>
                                <li>Age <span>@Model.age Years, @Model.gender</span></li>
                                <li>Email <span>@Model.Patient_email</span></li>
                                <li>Address <span>@Model.Patient_address</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Profile Widget -->
                <div class="card">
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a href="/Patient/Edit">
                                        <i class="fas fa-columns"></i>
                                        <span>Edit Profile</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">

                <div class="card card-table mb-0">
                    <div class="card-body">
                        @if (Model.Appointments != null)
                        {

                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor</th>
                                            <th>Appt Date</th>
                                            <th>Booking Date</th>
                                            <th>Relation</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Appointments)
                                        {
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="/Home/DoctorProfile?id=@item.Doctor.DoctorId_Encrypt">Dr. @item.Doctor.Doctor_name <span>@item.Doctor.Doctor_degree</span></a>
                                                    </h2>
                                                </td>
                                                <td>@item.DateStart.ToString("dd MMM yyyy") <span class="d-block text-info">@item.DateStart.ToString("hh:mm tt") to @item.DateEnd.ToString("hh:mm tt")</span></td>
                                                <td>@item.CreatedDate.ToString("dd MMM yyyy")</td>
                                                <td>@item.Relation</td>
                                                <td>
                                                    @if (item.Status == "Pending")
                                                    {
                                                        <span class="badge badge-pill bg-warning-light">@item.Status</span>
                                                    }
                                                    else if (item.Status == "Accept")
                                                    {
                                                        <span class="badge badge-pill bg-success-light">@item.Status</span>
                                                    }
                                                    else if (item.Status == "Cancel")
                                                    {
                                                        <span class="badge badge-pill bg-danger-light">@item.Status</span>
                                                    }
                                                </td>
                                                <td class="text-right">
                                                    <div class="table-action">
                                                        @if (item.DateStart > DateTime.Now)
                                                        {
                                                            if (item.Status == "Pending")
                                                            {
                                                                <a href="/Home/Booking?appointmentId=@item.AppointmentId_Encrypt" class="btn btn-sm bg-success-light">
                                                                    <i class="far fa-edit"></i> Edit
                                                                </a>
                                                                <a href="javascript:ChangeStatus(@item.Id, 'Cancel');" class="btn btn-sm bg-danger-light">
                                                                    <i class="far fa-trash-alt"></i> Cancel
                                                                </a>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="card-body">
                                <p>No any Appointment(s)</p>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure to want to cancel appointment.</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="cancelAppointmentId" />
                    <div class="col-md-12" style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" onclick="CancelAppointment()" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        function ChangeStatus(id, status) {
            if (status == "Cancel") {
                $("#cancelAppointmentId").val(id);
                $("#cancelModal").modal();
            }
        }

        function CancelAppointment() {

            var id = $("#cancelAppointmentId").val();

            if (id != "") {
                showLoader();
                window.location.href = '/Patient/Update_Status?id=' + id + "&status=Cancel";
            }
        }
    </script>
}