@model DoctorDiaryAPI.Appointment

@{
    ViewBag.Title = "Appointment";
}



<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Booking</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content success-page-cont">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <!-- Success Card -->
                <div class="card success-card">
                    <div class="card-body">
                        <div class="success-cont">
                            <i class="fas fa-check"></i>
                            <h3>Appointment booked Successfully!</h3>
                            <p>
                                Appointment booked with <br /><strong>Dr. @TempData["DoctorName"]</strong> on <strong>
                                    <br />
                                    @Model.DateStart.ToString("dd MMM yyyy") @Model.DateStart.ToString("hh:mm tt") to @Model.DateEnd.ToString("hh:mm tt")
                                </strong>
                            </p>
                            <span>
                                Patient Name: @Model.PatientName
                            </span>
                            <br />
                            <br />
                            <span>
                                Status:
                                @if (Model.Status == "Pending")
                                {
                                    <span class="bg-warning-light px-2">@Model.Status</span>
                                }
                                else if (Model.Status == "Accept")
                                {
                                    <span class="bg-success-light px-2">@Model.Status</span>
                                }
                                else if (Model.Status == "Cancel")
                                {
                                    <span class="bg-danger-light px-2">@Model.Status</span>
                                }
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /Success Card -->

            </div>
        </div>

    </div>
</div>		